html{
	height: 100%;
}
body{
	height: 100%;
	background-color: #FBF6EA;
	font-family: 'garamond';
	background-image: url('..images/dark_embroidery.png');
	font-style: italic;
	color: #3F3F3F;
}

img{
	
	height: auto;
}
h1{
	font-size: 45px;
}

.content{
	margin-top: 80px;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	color:gray;
	text-decoration: none;
}
p{
	font-size: 22px;
}
input, textarea{
	border: none;
    padding: 15px;
}

.navbar-header{
	height: 80px
}
.navbar-brand {
	padding: 2px;
	width: 260px;
    height: 80px;
}
.navbar-brand img{
	max-width: 55%
}
.navbar-default{
	border:none;
	background-color: rgba(0,0,0,0.3);
  }
.opaco{
	-webkit-transition: all 2s ease-in-out;
   -moz-transition: all 2s ease-in-out;
   -o-transition: all 2s ease-in-out;
   transition: all 2s ease-in-out;
	background-color: rgba(0,0,0,0.8);
}
.navbar-default .navbar-nav>li>a{
	color:white;
	font-size: 17px;
	-webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
}
.navbar-default .navbar-nav>li>a:hover{
	color:white;
	background-color: #e7e7e7;
	color: black;
}
.index-background{
	padding: 0;
	margin: 0;
	height: 100%;
	background-size: cover;
	display:block;
    background-position: center;
    background-attachment: fixed;
    -webkit-transition: background-image 2s ease-in-out;
   -moz-transition: background-image 2s ease-in-out;
   -o-transition: background-image 2s ease-in-out;
   transition: background-image 2s ease-in-out;
}
.marrom{
	background-color: #45302b;
}
.frase h1{
		text-align: center;
}
.frase{
	background-color: #ec9c5d;
}

.gilmara{
	padding: 0;
}


.img-destaque{
	height: 400px;
	text-align: center;
	background-size: cover;
    background-position-x: center;

}

.img-destaque a{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}

.content-slide{
	height: 100%;
}

.img-destaque:hover a{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}
.barra-chocolate{

	max-width: 15%;
	margin: auto;
	
}
.div-center{
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	
}
.div-center img{
	margin: auto;
}

.img-destaque h1{
    margin-top:180px;
    font-size: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.logo-sobre{
	max-width: 40%;
	color: white;
}
.novidade {
	background-image: url('../images/dark_embroidery.png');
	
}
.galeria{
	margin-bottom: 80px;
}

.novidade h1{
	text-align: center;
	color: white;
	font-style: italic;
	margin-top: 50px;
}
.textura{
	background-image: url('../images/dark_embroidery.png');
	overflow: hidden;
	
}
.textura img{
	background-image: url('../images/dark_embroidery.png');
	overflow: hidden;
}
.sobre{
	text-align: center;
}
.left-sobre{
	background-color: white;
}
.sobre h1{
	margin-top: 30px;
	color: white;
}
.sobre p{
	margin-top: 30px;
	color: white;
}
.sobre a{
	color: white;
}
.sobreRight{
	height: 100%;
	padding: 0px;
	padding-right: 0px;
    padding-left: 0px;
    background: white;
    margin: 0px;

}
.sobreRight img{
	float: left;
}
.sobreLeft{
	padding: 40px;
}

.social-midia div{
	padding: 30px;
	text-align: center;
}
.social-midia div img{
	max-width: 50%;
}
.instagran{
	background-color: #ec9c5d;
}
.facebook{
	background-color: #ec8c5c;
}
.twitter{
	background-color: #ec7b5d;
}
.single{
	margin-top: 45px;
}

.novidade-wrapper{
	background-color: white;
}

.novidade-post h1{
	padding: 10px 0;
	color: black;
	font-size: 30px;

} 

.novidade-post  p{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	text-align: center;
} 

.texto{
	padding: 100px;
}

.texto h1{
	font-size: 30px;
}

@media(max-width: 790px){
	.sobre h1{
		margin-top: 5%;
	}
	.texto {
    padding: 50px;
}
	.texto h1{
		font-size: 25px;
	}

}

@media (min-width: 768px) and (max-width: 992px) {
   .collapse {
       display: none !important;
   }
}