*{

}

body{
	background-color: #FBF6EA;
	font-family: 'garamond';
	background-image: url('..images/dark_embroidery.png');
	font-style: italic;
	color: #3F3F3F;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
h1{
	font-size: 45px;
}

.content{
	margin-top: 80px;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	color:gray;
	text-decoration: none;
}
p{
	font-size: 22px;
}
.navbar-header{
	height: 80px
}
.navbar-brand {
	padding: 2px
}
.navbar-brand img{
	max-width: 35%
}
.navbar-default{
	background-image: url('../images/trans.png');
	background-color: transparent;
	border:none;

}
.navbar-default .navbar-nav>li>a{
	color:white;
	font-size: 17px;
}
.navbar-default .navbar-nav>li>a:hover{
	color:white;
}
.index-background{
	background-image: url('../images/background-image2.png');
	padding: 0;
	margin: 0;
	height: 100%;
	background-size: cover;
    background-position: center;
}
.marrom{
	background-color: #45302b;
}
.frase h1{
		text-align: center;
}
.frase{
	background-color: #ec9c5d;
}

.gilmara{
	padding: 0;
}


.img-destaque{
	height: 400px;
	text-align: center;
	background-size: cover;
    background-position-x: center;
}

.img-destaque a{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}



.img-destaque:hover a{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}

.img-destaque h1{
    margin-top:30%;
}
.logo-sobre{
	max-width: 40%;
	color: white;
}
.novidade {
	background-image: url('../images/dark_embroidery.png');
	
}

.novidade h1{
	text-align: center;
	color: white;
	font-style: italic;
	margin-top: 50px;
}
.textura{
	background-image: url('../images/dark_embroidery.png');
}
.sobre{
	text-align: center;
}
.left-sobre{
	background-color: white;
}
.sobre h1{
	margin-top: 30px;
	color: white;
}
.sobre p{
	margin-top: 30px;
	color: white;
}
.sobre a{
	color: white;
}
.sobreRight{
	height: 400px;
}
.sobreLeft{
	padding: 20px;
}

.social-midia div{
	padding: 30px;
	text-align: center;
}
.social-midia div img{
	max-width: 50%;
}
.instagran{
	background-color: #ec9c5d;
}
.facebook{
	background-color: #ec8c5c;
}
.twitter{
	background-color: #ec7b5d;
}
.single{
	margin-top: 45px;
}

.novidade-wrapper{
	background-color: white;
}

.novidade-post h1{
	padding: 10px 0;
	color: black;
	font-size: 25px;

} 

.novidade-post  p{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	text-align: center;
} 

.texto{
	padding: 100px;
}

.texto h1{
	font-size: 30px;
}

@media(max-width: 790px){
	.sobre h1{
	margin-top: 5%;
	}
}